::ng-deep .org-detail-splitter {
	border: none !important;
}

::ng-deep .org-detail-splitter .p-splitter-gutter {
	background: #f3f4f6;
}

@media (max-width: 1024px) {
	::ng-deep .org-detail-splitter.p-splitter-vertical {
		height: auto !important;
	}

	::ng-deep .org-detail-splitter .p-splitter-panel {
		max-height: 70vh;
		overflow-y: auto;
	}
}

@media (max-width: 640px) {
	::ng-deep .org-detail-splitter .p-splitter-panel {
		max-height: 60vh;
	}
}